<!DOCTYPE html>
<html lang="en">
<head>
	<title>Null Spark Autograder</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body>
		<br />
		<br />
		<div class="container">
			<div class="jumbotron">
				<center>
					<h3> Welcome to the Null Spark <h2>
					<h3> Autograder System </h2>
					<p> Please, log in.</p>
				</center>
				<br>
				<div class="container" id="login_form">
					<!-- THIS IS THE LOG IN FORM -->
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<br/>
					<p>Don't have an account? Sign up <a href="{% url 'accounts-student_registration' %}">here</p>
				</div>
			</div>
			<!-- END OF THE JUMOTRON -->
		</div>
	</body>
</html>
