{% extends "base_generic.html" %}
{% load static %}
{% load accounts_template_tags %}
{% block content %}
<br />
<div class="container">
	<div class="card text-center">
		<div class="card-header">
			<h2>Assignment Details</h2>
		</div>
		<div class="card-body">
			<h3 class="card-title">{{ assignment.name }}</h3>
				<h6 class="card-text typewriter"> Due: {{ assignment.due_date }}</h6>
				{% if assignment %}
					<h6 class="card-text typewriter">{{ assignment.project.short_description }}<br/><br>{{ assignment.project.long_description }}</h6><br/>
				{% endif %}
			<center>
				<a href="{% url 'submission_grader-submit' pk=assignment.pk %}" class="btn maroon white">Submit</a>
				{% if assignment|get_recent_submission_pk != 0 %}
					<a href="{{ assignment|get_recent_submission_path }}" class="btn maroon white">Download All</a>
					<a href="{% url 'submission_grader-submission_confirm_delete' pk=assignment|get_recent_submission_pk %}" class="btn maroon white">Delete</a>
				{% else %}
					<p>You have no submissions</p>
				{% endif %}
				<br/>
				{% if assignment|get_recent_submission_pk != 0 %}
					<span><center>Last Submitted: {{assignment|get_recent_submission_time}}</center></span>
					{% if assignment|get_recent_submission_time|pass_due:assignment.due_date %}
						<p>Submitted Late</p>
					{% else %}
						<p>{{ assignment|get_recent_submission_time }}</p>
					{% endif %}
				{% endif %}
			</center>
		</div>
	</div>

	<div>
		{% if assignment|get_recent_submission_java_files != 0 %}
		<table class="table table-hover" style="background-color: #f8f9fa; color: #8A1538;">
	      <thead>
	        <tr style="align: left;">
				<th scope="col" style="width: 50px;">Download</th>
				<th scope="col">File Name</th>
	        </tr>
	      </thead>
	      <tbody>
				{% for string in assignment|get_recent_submission_java_files %}
		        <tr>
					<td>
					{% with assignment|get_recent_submission_folder_path|add:"/"|add:string as path %}
						<button class="btn">
							<a href="{{ path }}" download={{string}}>
								<img src="\static\img\download.png" alt="Download" style="width: 50px;">
							</a>
						</button>
					{% endwith %}
					</td>
					<td style="align: left;">
						<p> {{ string }} </p>
					</td>
		        </tr>
				{% endfor %}
	      </tbody>
	    </table>
		{% endif %}
	</div>
</div>
{% endblock %}
