{% extends "base_generic.html" %}
{% block content %}
<br>
<div class="container">
  {% if assignment_list %}
    <table class="table table-hover" style="background-color: #f8f9fa; color: #8A1538;">
      <thead>
        <tr>
          <th scope="col">Assignment Name</th>
          <th scope="col">Due date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for assignment in assignment_list %}
          <td>
              <a href="{{ assignment.get_absolute_url }}" class="typewriter maroon-text">{{ assignment.name }}</a>
          </td>
          <td>
              <p>{{ assignment.due_date }}</p>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% else %}
      <p class="typewriter">You have no assignments.</p>
    {% endif %}
</div>
{% endblock %}
