{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<br />
<div class="container">
	<div class="card text-center">
		<div class="card-header">
			Assignment Details
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ assignment.name }}</h5>
			{% for project in project_list %}
				{% if project.assignment.name ==  assignment.name %}
					<p class="card-text typewriter">{{ project.short_description }}</p><br/>
				{% endif %}
			{% empty %}
				<p>You have no submissions</p>
			{% endfor %}
			<p class="card-text typewriter">So many intructions...<br /> Some more instructions</p>
			
			<a href="{% url 'submission_grader-submit' pk=assignment.project.pk %}" class="btn maroon white">Submit</a>
			<a href="{% url 'submission_grader-submit' pk=assignment.project.pk %}" class="btn maroon white">Delete</a>
		</div>
		<div class="card-footer text-muted">
			{% for submission in submission_list %}
				{% if submission.assignment.name ==  assignment.name %}
					{% if submission.student.username == user.username %}
						{{ submission.assignment.name }}{{ submission.student.username }}<br/>
					{% endif %}
				{% endif %}
			{% empty %}
				<p>You have no submissions</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
