{% extends "base_generic.html" %}
{% load accounts_template_tags %}
{% load catalog_template_tags %}
{% block content %}
<br />
<div class="container">
  <div style="float: left;">
  <h1 class="">Assignment List</h1>
  </div>
  <div style="float: right;">
  {% if request.user|has_group:"Instructor" %}
      <button onclick="redirect()" type="button" name="New" class="btn maroon white">
          Add a new assignment</button>
  {% endif %}
  </div>
  {% if assignment_list %}
    <table class="table table-hover" style="background-color: #f8f9fa; color: #8A1538;">
      <thead>
        <tr>
          <th scope="col">Assignment Name</th>
          <th scope="col">Due date</th>
        </tr>
      </thead>
      <tbody>
          {% for assignment in assignment_list %}
          <tr>
            <td>
              <ul style="list-style: none;">
                <li>
                  <a href="{{ assignment.get_absolute_url }}" class="typewriter maroon-text">{{ assignment.name }}</a>
                </li>
              </ul>
            </td>
          <td>
              <p>{{ assignment.due_date }}</p>
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% else %}
      <p class="typewriter">You have no assignments.</p>
    {% endif %}
</div>
<script>
    function redirect(){
        location.replace("{% url 'catalog-assignment_new' %}")
    }
</script>
{% endblock %}
