{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="jumbotron">
	<center>
		<h2>CIS 405 - Software Engineering</h2>
		<p>Dr. Laura Grabowski<br>Spring 2019 </p>
	</center>
	<div class="container assignment-announcements-container">
		Assignment announcements!
	</div>
</div>
{% endblock %}