{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
<div class="jumbotron">
	<center>
		<h2 class="capitalize">{{ course.name }}</h2>
		<p class="capitalize">{% for instruct in instruct %}
			{% if instruct.course.name == course.name %}
				{{ instruct.instructor.username }}
			{% endif %}
		{% endfor %}
		<br>Spring 2019</br></p>
		<p id="course-description">{{ course.description }}</p>
		<button onclick="redirect()" type="button" name="Update" class="btn" style="background-color: #8A1538;color: white;">Update</button>
	</center>
</div>
<div class="container assignment-announcements-container">
	<div id="upcoming-assignment-dropdown">
		<center>
			<h3>Upcoming assignments due</h3>
		</center>
	</div>
	<br>
	<div class="container">
		<center>
			<div class="row">
				{% if assignments %}
					{% for assignment in assignments %}
						{% if assignment.course.name == course.name %}
							<div class="col-sm" id="upcoming-assignment-card" style="margin-left: -15px;">
								<div id="upcoming-assignment-details">
									<p class="capitalize">{{ assignment.name }}</p>
									<p>Due date: <strong>{{ assignment.due_date }}</strong></p>
									<a href="{{ assignment.get_absolute_url }}" id="see-assignment-link">See assignment details</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<div class="container">
						<p id="no-assignments-pill">You have no assignments</p>
					</div>
				{% endif %}
			</div>
		</center>
	</div>
</div>

<script>
	function redirect(){
		location.replace("{% url 'course_update' pk=course.pk %}")
	}
	$(document)
</script>
{% endblock %}
