{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Null Spark Autograder</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body>
		<br />
		<br />
		<div class="container">
			<div class="jumbotron">
				<center>
					<h3> Welcome to the Null Spark <h2>
					<h3> Autograder System </h2>
					<p> Please, log in.</p>
				</center>
				<br>

				<div class="container" id="login_form">
					<!-- THIS IS THE LOG IN FORM -->
					<!-- It is added by crispy forms. -->
					<form method="post">
				  		{% csrf_token %}
					    {{ form|crispy }}
				    	<button type="submit">Sign in</button>
				  	</form>

					<br/>
					<p>Don't have an account? Sign up <a href="{% url 'accounts-student_registration' %}">here</a></p>
				</div>
			</div>
			<!-- END OF THE JUMOTRON -->
		</div>
	</body>
</html>
