{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\main.css' %}" />
<div class="jumbotron">
	<center>
		<h3>Active Courses:</h3>
	</center>
	<br>
	<div class="container">
		<center>
			<div class="col-8">
				{% if course_list %}
				<ul class="list-group">
					{% for course in course_list %}
					<a href="{{ course.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start" style="">
						{{ course.name }}<span class="spacer"></span><span class="badge badge-danger badge-pill maroon">14</span><p class="text-muted instructor-name">Dr. Laura Grabowski</p>
					</a>
					{% endfor %}
				</ul>
				{% else %}
					<p>You have no courses.</p>
				{% endif %}
			</div>
		</center>
	</div>
</div>
<div class="container-fluid">
	<h3 style="padding-left: 20px;">Upcoming Assignments</h3>
	<br>
	<div class="row">
		<div class="col-4">
			<div class="assignment-item">
				<strong>Assignment Uno</strong>
				<p>Assignment short description</p>
				<span><p>Due Date: 3/25/2019 @ 10pm!</span>
			</div>
		</div>
		<div class="col-4">
			<div class="assignment-item">
				<strong>Assignment Dos</strong>
				<p>Assignment short description</p>
				<span><p>Due Date: 3/28/2019 @ 11pm!</span>
			</div>
		</div>
		<div class="col-4">
			<div class="assignment-item">
				<strong>Assignment Tres</strong>
				<p>Assignment short description</p>
				<span><p>Due Date: 3/25/2019 @ 12pm!</p></span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
