{% extends "base_generic.html" %}
{% load static %}
{% load accounts_template_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\main.css' %}" />
<div class="jumbotron">
	{% if request.user|has_group:"Student"%}
	<center>
		<h3>Active Courses:</h3>
	</center>
	<br/>
	<div class="container">
		<center>
			<div class="col-8">
				<ul class="list-group">
					{% for take in take %}
					{% if take.student.username == user.username %}
					<a href="{{ take.course.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start capitalize" style="">
						<h4>{{ take.course.name }}</h4>
						<span class="spacer"></span><!--<span class="badge badge-danger badge-pill maroon">14</span>-->
						<span class="text-muted instructor-name capitalize">
							{% for instruct in instruct %}
								{% if instruct.course.name == take.course.name %}
									{{ instruct.instructor.username }}
								{% endif %}
							{% endfor %}
						</span>
					</a>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</center>
	</div>
	{% elif request.user|has_group:"Instructor"%}
	<div class="">
		<a href="{% url 'catalog-courses' %}" class="list-group-item list-group-item-action flex-column align-items-start capitalize" style="width: 33%; float: left; text-align: center;">Courses</a>
		<a href="{% url 'catalog-assignments' %}" class="list-group-item list-group-item-action flex-column align-items-start capitalize" style="width: 33%; float: left; text-align: center;">Assignments</a>
		<a href="#" class="list-group-item list-group-item-action flex-column align-items-start capitalize" style="width: 33%; float: left; text-align: center;">Projects</a>
	</div>
	<br/>
	{% endif %}
</div>
{% if request.user|has_group:"Student"%}
<div class="container-fluid">
	<h3 style="padding-left: 20px;">Upcoming Assignments</h3>
	<br>
	<div class="row">
		{% if assignment %}
			{% for assignment in assignment %}
				{% if assignment.assigned_student.username == user.username %}
					<div class="col-md-4 col-md-offset-1" style='margin-bottom: 35px'>
						<div class="mx-auto" >
							<div class="assignment-item">
								<a href="{{ assignment.get_absolute_url }}" class="maroon-text white"'><strong>{{ assignment.name }}</strong></a><br/>
								<span>{{ assignment.course }}</span><br/>
								<span>Assignment short description</span><br/>
								<span>Due Date: {{ assignment.due_date }}</span>
							</div>
						</div>
					</div>
					<br/>
				{% endif %}
			{% endfor %}
		{% else %}
			<p>You have no assignments.</p>
		{% endif %}
	</div>
</div>
{% endif %}
{% endblock %}
