@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body, h1, h2, h3, h4, h5{
			font-family: "San Francisco", sans-serif;
}
.instructor-name{
	margin-bottom: 0;
	padding-bottom: 0;
}
.spacer{
	margin-left: 5px;
}
.maroon{
	background-color: #8A1538;
}
.assignment-item{
	background-color: #8A1538; 
	color: white; 
	padding: 10px 10px 10px 20px; 
	border-radius: 15px;
}
.white{
	color: white;
}
.white-bg{
	background-color: white;
}
#logout-container{
	padding: 30px 10px 30px 35px;
	border-radius: 15px;
	margin: 40px auto;
}
#timeout-banner-container{
	height: 50px;
}
#timeout-banner{
	top: 10px;
	position: absolute;
}
#final-warning-container{
	margin-top: 200px;
	z-index: 1;
	width: 25%;
	border-radius: 15px;
	padding: 20px 20px 20px 20px;
	left: 35%;
}
#full-screen{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, .5);
}
#upcoming-assignment-dropdown{
	background-color: #fff;
}
#upcoming-assignment-card:hover{
	background-color: #e9ecef;
	border-radius: 15px;
	color: #333;
}
#upcoming-assignment-details{
	margin-bottom: 15px;
	margin-top: 15px;
}
#see-assignment-link{
	color: #8A1538;
}
#see-assignment-link:hover{
	text-decoration: none;
}
#no-assignments-pill{
	background-color: #8A1538;
	border-radius: 15px;
	color: white;
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 5px;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
}
.capitalize{
	text-transform: capitalize;
}
#course-description{
	font-family: 'Inconsolata', monospace;
}