<!--
File: accounts/password_reset.html
Description: Forth file in the chain for reseting a users password.
            Page that is shown when user resets their password.
Created by: Jared DeMarais  4/10/19
Last edited by: Jared DeMarais 4/10/19 -->
{% extends "catalog/../base_generic.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="col-8 maroon" id="logout-container">
		<h4 class="white"> You've sucessfully changed your password!</h4>
		<a href="{% url 'accounts-login' %}"><button class="btn btn-dark">Log In</button></a>
	</div>
</div>
{% endblock %}
