<!--
File: accounts/password_reset_confirm.html
Description: Third file in the chain for reseting a users password.
            Can only access this page with a valid token.
            Link that user is email will bring them to this page.
            Token is one time use, if then refresh the page they will have to
            request a new link.
Created by: Jared DeMarais  4/10/19
Last edited by: Jared DeMarais 4/10/19 -->
{% extends "catalog/../base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
