<!--
File: accounts/password_reset.html
Description: First file in the chain for reseting a users password.
            User enters their email.
Created by: Jared DeMarais  4/10/19
Last edited by: Jared DeMarais 4/10/19 -->
{% extends "catalog/../base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <br />
    <br />
    <center><h1>Reset Your Password</h1></center>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Reset</button>
      </form>
    </div>
{% endblock %}
