<!--
File: accounts/password_email.html
Description: Gives the format for the reset email that is sent.
Created by: Jared DeMarais  4/10/19
Last edited by: Jared DeMarais 4/10/19 -->
<!-- This file is not being processed but the email is still being sent -->
{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

{% endautoescape %}
